{
  "WebhookFunction": {
    "WEBHOOK_SECRET": "local-dev-secret-0123456789",
    "EVENT_BUS_NAME": "simple-eda-bus",
    "EVENT_SOURCE": "com.example.shop",
    "MAX_EVENTS_PER_REQUEST": "100",
    "LOG_LEVEL": "DEBUG"
  }
}
